* {
  margin: 0;
  font-family: "Merienda", Lalezar;
}
header {
  margin-bottom: 100px;
  background-color: #3d4a59;
  color: #fff;
  border-radius: 0 0 70px 70px;
}

header h1 {
  margin-bottom: 35px;
}

.perant {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.perant li a {
  color: #fff;
  text-decoration: none;
  margin-top: 6px;
  display: inline-block;
}

.perant li a:hover {
  border-bottom: 2px solid rgb(10, 143, 196);
  font-size: 20px;
}

.mode {
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px 10px;
}

li {
  list-style-type: none;
  font-size: 20px;
}

h1 {
  text-align: center;
  padding: 10px 0;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #3d4a59;
  color: #fff;
  border-radius: 17px;
  padding: 15px;
}

section {
  margin-bottom: 100px;
  box-shadow: 5px 5px 25px rgb(168, 178, 182);
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 13px;
  padding: 45px 0;
}

.left-section,
.section {
  width: 49%;
  text-align: center;
  margin-top: 60px;
}

.my-img {
  border-radius: 50%;
  width: 150px;
  border: 2px solid #ff8a00;
  border-top: 3px solid2px solid #ff8a00;
  border-left: 2px solid #e52e71;
  border-bottom: 2px solid #e52e71;
}

article h5 {
  font-family: "Sacramento", cursive;
  font-weight: 500;
  font-size: 39px;
  margin-top: 10px;
}

.pa {
  font-size: 20px;
}

.left-section h3 {
  font-size: 27px;
  margin: 20px 0;
}

.left-section p {
  font-size: 20px;
  margin: 25px 0;
}

.facebook,
.youtube {
  background-color: royalblue;
  color: #fff;
  margin: 10px;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}

.youtube {
  background-color: rgb(243, 72, 72);
}

.flex {
  display: flex;

  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

footer {
  text-align: center;
}

.copy {
  background-color: #3d4a59;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
}

.follow {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 25%);
  border-radius: 10px;
  padding: 16px 0;
  text-align: center;
  margin: 0 auto 10px;
  border-top: 6px solid #3d4a59;
  width: 99%;
}

.follow a {
  border: 1px solid #3d4a59;
  border-radius: 4px;
  padding: 4px 10px;
  text-decoration: none;
}

.follow a:hover {
  padding: 5px 12px;
  background-color: royalblue;
  color: #fff;
  width: 100%;
}
